* {
    box-sizing: border-box;
}

.parent {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap;
    align-content: space-between; */
}



.child1 {
    width: 1000px;
    height: 100px;
    background-color: red;
    order: 2;
}

.child2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    order: -1;
}

.child3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    flex-shrink: 4;
  order: 3;
  
}